@model List<PhotoHistory.Models.HomepageAlbumModel>

@{
    List<PhotoHistory.Models.HomepageAlbumModel> left = new List<PhotoHistory.Models.HomepageAlbumModel>();
    List<PhotoHistory.Models.HomepageAlbumModel> right = new List<PhotoHistory.Models.HomepageAlbumModel>();
    List<PhotoHistory.Models.HomepageAlbumModel> albums = null;

    int iter = 0;
    foreach (PhotoHistory.Models.HomepageAlbumModel album in Model)
    {
        if (iter++ % 2 == 0)
        {
            left.Add(album);
        }
        else
        {
            right.Add(album);
        }
    }

    for (int count = 0; count < 2; ++count)
    {
        albums = (count == 0 ? left : right);
        <div id="content-@(count == 0 ? "left" : "right")">

        @foreach (PhotoHistory.Models.HomepageAlbumModel AlbumContainer in albums)
        { 
            <div class="post">
                <h2 class="title"> <a href="#">@AlbumContainer.Name</a> </h2>
                <div class="entry">
                    @foreach (PhotoHistory.Models.AlbumProfileModel album in AlbumContainer.Albums)
                    {
                        <div class="album-thumb">
				            <a href="@Url.Action("Album", "Show", new { id = album.Id })">
					            @{
                                    int thumbCount = album.Thumbnails.Count;
                                    List<string> thumbs = new List<string>();
                                    <img src="@(thumbCount > 0 ? album.Thumbnails.First() : "/Content/img/album_placeHolder.jpg")" class="photo" alt="Album thumbnail"/>
                                    <img src="@(thumbCount > 1 ? album.Thumbnails.ElementAt(thumbCount / 2) : "/Content/img/album_placeHolder.jpg")" class="photo" alt="Album thumbnail"/>
                                    <img src="@(thumbCount > 2 ? album.Thumbnails.Last() : "/Content/img/album_placeHolder.jpg")" class="photo" alt="Album thumbnail"/>

                                 } 
					            <h3 class="album-title">@album.Name</h3>
				            </a>
				            <span class="album-label">Timespan: </span><span class="album-value">@album.StartDate - @album.EndDate</span><br/>
				            <span class="album-label">Views: </span><span class="album-value">@album.Views</span><br/>
                            <span class="album-label">Comments: </span><span class="album-value">@album.Comments</span><br/>
                            <span class="album-label">Rating: </span><span class="album-value">@album.Rating</span>
			            </div>
                    }
                </div>
            </div>
        }
        </div>
    }
 }