<div id="content-left">
    <div class="post">
        <h2 class="title">
            <a href="#">Recently updated</a></h2>
        <div class="entry">
            <div class="album-thumb">
                <a href="#">
                    <img src="@(Url.Content( "~/Content/tmp/photo1.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo2.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo3.jpg" ))" class="photo" />
                    <h3 class="album-title">
                        Noah K. everyday</h3>
                </a><span class="album-label">Timespan: </span><span class="album-value">03/01/2003
                    - 12/04/2012</span><br />
                <span class="album-label">Views: </span><span class="album-value">117 684</span>
            </div>
            <div class="album-thumb">
                <a href="#">
                    <img src="@(Url.Content( "~/Content/tmp/photo1.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo2.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo3.jpg" ))" class="photo" />
                    <h3 class="album-title">
                        Noah K. everyday</h3>
                </a><span class="album-label">Timespan: </span><span class="album-value">03/01/2003
                    - 12/04/2012</span><br />
                <span class="album-label">Views: </span><span class="album-value">117 684</span>
            </div>
        </div>
    </div>
    <div class="post">
        <h2 class="title">
            <a href="#">Trendy</a></h2>
        <div class="entry">
            <div class="album-thumb">
                <a href="#">
                    <img src="@(Url.Content( "~/Content/tmp/photo1.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo2.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo3.jpg" ))" class="photo" />
                    <h3 class="album-title">
                        Noah K. everyday</h3>
                </a><span class="album-label">Timespan: </span><span class="album-value">03/01/2003
                    - 12/04/2012</span><br />
                <span class="album-label">Views: </span><span class="album-value">117 684</span>
            </div>
            <div class="album-thumb">
                <a href="#">
                    <img src="@(Url.Content( "~/Content/tmp/photo1.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo2.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo3.jpg" ))" class="photo" />
                    <h3 class="album-title">
                        Noah K. everyday</h3>
                </a><span class="album-label">Timespan: </span><span class="album-value">03/01/2003
                    - 12/04/2012</span><br />
                <span class="album-label">Views: </span><span class="album-value">117 684</span>
            </div>
        </div>
    </div>
    <div class="post">
        <h2 class="title">
            <a href="#">Random</a></h2>
        <div class="entry">
            <div class="album-thumb">
                <a href="#">
                    <img src="@(Url.Content( "~/Content/tmp/photo1.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo2.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo3.jpg" ))" class="photo" />
                    <h3 class="album-title">
                        Noah K. everyday</h3>
                </a><span class="album-label">Timespan: </span><span class="album-value">03/01/2003
                    - 12/04/2012</span><br />
                <span class="album-label">Views: </span><span class="album-value">117 684</span>
            </div>
            <div class="album-thumb">
                <a href="#">
                    <img src="@(Url.Content( "~/Content/tmp/photo1.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo2.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo3.jpg" ))" class="photo" />
                    <h3 class="album-title">
                        Noah K. everyday</h3>
                </a><span class="album-label">Timespan: </span><span class="album-value">03/01/2003
                    - 12/04/2012</span><br />
                <span class="album-label">Views: </span><span class="album-value">117 684</span>
            </div>
        </div>
    </div>
</div>
<div id="content-right">
    <div class="post">
        <h2 class="title">
            <a href="#">Popular</a></h2>
        <div class="entry">
            <div class="album-thumb">
                <a href="#">
                    <img src="@(Url.Content( "~/Content/tmp/photo1.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo2.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo3.jpg" ))" class="photo" />
                    <h3 class="album-title">
                        Noah K. everyday</h3>
                </a><span class="album-label">Timespan: </span><span class="album-value">03/01/2003
                    - 12/04/2012</span><br />
                <span class="album-label">Views: </span><span class="album-value">117 684</span>
            </div>
            <div class="album-thumb">
                <a href="#">
                    <img src="@(Url.Content( "~/Content/tmp/photo1.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo2.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo3.jpg" ))" class="photo" />
                    <h3 class="album-title">
                        Noah K. everyday</h3>
                </a><span class="album-label">Timespan: </span><span class="album-value">03/01/2003
                    - 12/04/2012</span><br />
                <span class="album-label">Views: </span><span class="album-value">117 684</span>
            </div>
        </div>
    </div>
    <div class="post">
        <h2 class="title">
            <a href="#">Highest rated</a></h2>
        <div class="entry">
            <div class="album-thumb">
                <a href="#">
                    <img src="@(Url.Content( "~/Content/tmp/photo1.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo2.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo3.jpg" ))" class="photo" />
                    <h3 class="album-title">
                        Noah K. everyday</h3>
                </a><span class="album-label">Timespan: </span><span class="album-value">03/01/2003
                    - 12/04/2012</span><br />
                <span class="album-label">Views: </span><span class="album-value">117 684</span>
            </div>
            <div class="album-thumb">
                <a href="#">
                    <img src="@(Url.Content( "~/Content/tmp/photo1.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo2.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo3.jpg" ))" class="photo" />
                    <h3 class="album-title">
                        Noah K. everyday</h3>
                </a><span class="album-label">Timespan: </span><span class="album-value">03/01/2003
                    - 12/04/2012</span><br />
                <span class="album-label">Views: </span><span class="album-value">117 684</span>
            </div>
        </div>
    </div>
    <div class="post">
        <h2 class="title">
            <a href="#">Most commented</a></h2>
        <div class="entry">
            <div class="album-thumb">
                <a href="#">
                    <img src="@(Url.Content( "~/Content/tmp/photo1.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo2.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo3.jpg" ))" class="photo" />
                    <h3 class="album-title">
                        Noah K. everyday</h3>
                </a><span class="album-label">Timespan: </span><span class="album-value">03/01/2003
                    - 12/04/2012</span><br />
                <span class="album-label">Views: </span><span class="album-value">117 684</span>
            </div>
            <div class="album-thumb">
                <a href="#">
                    <img src="@(Url.Content( "~/Content/tmp/photo1.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo2.jpg" ))" class="photo" />
                    <img src="@(Url.Content( "~/Content/tmp/photo3.jpg" ))" class="photo" />
                    <h3 class="album-title">
                        Noah K. everyday</h3>
                </a><span class="album-label">Timespan: </span><span class="album-value">03/01/2003
                    - 12/04/2012</span><br />
                <span class="album-label">Views: </span><span class="album-value">117 684</span>
            </div>
        </div>
    </div>
</div>
