@model PhotoHistory.Models.ChangeUserPasswordModel
           
<div id="content-center">
    <form class="form-horizontal" action="/User/ChangePassword" method="post">
    <fieldset>
        <legend>Change password</legend>
        @if ( !ViewData.ModelState.IsValid )
        {
            <div class="alert alert-error">
                @if ( ViewBag.ErrorMessage != null )
                {
                    @ViewBag.ErrorMessage
                }
                else
                {
                    <text>Some fields are invalid - please correct the errors.</text>
                }
            </div>
        }
        <div class="control-group @Html.MyValidationMark( "CurrentPassword" )">
            <label class="control-label" for="CurrentPassword">
                Current password</label>
            <div class="controls">
                <input type="password" class="input-normal" id="CurrentPassword" name="CurrentPassword" value="@(Model != null ? Model.CurrentPassword : "")">
                @Html.MyValidationMessage( "CurrentPassword" )
            </div>
        </div>
        <div class="control-group @Html.MyValidationMark( "NewPassword" )">
            <label class="control-label" for="NewPassword">
                New password</label>
            <div class="controls">
                <input type="password" class="input-normal" id="NewPassword" name="NewPassword" value="@(Model != null ? Model.NewPassword : "")">
                @Html.MyValidationMessage( "NewPassword" )
            </div>
        </div>
        <div class="control-group @Html.MyValidationMark( "ConfirmedNewPassword" )">
            <label class="control-label" for="ConfirmedNewPassword">
                Confirm new password</label>
            <div class="controls">
                <input type="password" class="input-normal" id="ConfirmedNewPassword" name="ConfirmedNewPassword" value="@(Model != null ? Model.ConfirmedNewPassword : "")">
                @Html.MyValidationMessage( "ConfirmedNewPassword" )
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Confirm</button>
            <button class="btn">
                Cancel</button>
        </div>
    </fieldset>
    </form>
</div>
