@model PhotoHistory.Models.SignInUserModel   
<div id="content-center">
    <form class="form-horizontal" action="/User/SignIn" method="post">
    <fieldset>
        <legend>Sign in</legend>
        @if ( Model != null )
        {
            <div class="alert alert-error">
                @if ( ViewBag.ErrorMessage != null )
                {
                    @ViewBag.ErrorMessage
                }
                else
                {
                    <text>Some fields are invalid - please correct the errors.</text>
                }
            </div>
        }
        <div class="control-group @Html.MyValidationMark("Login")">
            <label class="control-label" for="username">
                Username</label>
            <div class="controls">
                <input type="text" class="input-normal" id="Login" name="Login" value="@(Model != null ? Model.Login : "")">
                @Html.MyValidationMessage( "Login" )
            </div>
        </div>
        <div class="control-group @Html.MyValidationMark( "Password" )">
            <label class="control-label" for="username">
                Password</label>
            <div class="controls">
                <input type="password" class="input-normal" id="Password" name="Password" value="@(Model != null ? Model.Password : "")">
                @Html.MyValidationMessage( "Password" )
                <p class="help-block">
                    <a href="/User/ForgotPassword">Forgot your password?</a></p>
            </div>
        </div>
        <div class="form-actions">
            <label class="checkbox inline">
                <input type="checkbox" id="RememberMe" name="RememberMe" @(Model != null && Model.Remember ? "checked=\"checked\"" : "")>Remember
                    me</input>
            </label>
            <button type="submit" class="btn btn-primary">
                Sign in</button>
        </div>
    </fieldset>
    </form>
</div>
