@model PhotoHistory.Models.UserProfileModel
           
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-error">
            @if (ViewBag.ErrorMessage != null)
            {
                    @ViewBag.ErrorMessage
            }
            else
            {
                <text>Sorry, something went wrong. A team of highly trained monkeys has been dispatched 
                to deal with this situation.</text>
            }
        </div>
    }
    else
        if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-error">
                    @ViewBag.ErrorMessage
            </div>
        }
        else
        {
			<div id="profile-header">
				<h1 class="page-title">
					<a href="#">@(Model != null ? Model.Name : "")</a>
				</h1>
			</div>
			<div id="profile-content">
				<div id="profile-description">
					<p>Age: @(Model != null ? Model.Age : "")</p>
					<p>About me: @(Model != null ? Model.About : "")</p>
				</div>
				<div id="profile-albums">
					<h2 class="page-section">Albums</h2>
                    @{
                        if (Model != null)
                        {
                            if (Model.Albums.Count == 0)
                            {
                                <div id="content-left">
                                    <h3 class="album-title">None</h3>
                                </div>
                            }
                            else
                            {
                                List<PhotoHistory.Models.AlbumProfileModel> left = new List<PhotoHistory.Models.AlbumProfileModel>();
                                List<PhotoHistory.Models.AlbumProfileModel> right = new List<PhotoHistory.Models.AlbumProfileModel>();
                                List<PhotoHistory.Models.AlbumProfileModel> albums = null;

                                int iter = 0;
                                foreach (PhotoHistory.Models.AlbumProfileModel album in Model.Albums)
                                {
                                    if (iter++ % 2 == 0)
                                    {
                                        left.Add(album);
                                    }
                                    else
                                    {
                                        right.Add(album);
                                    }
                                }

                                for (int count = 0; count < 2; ++count)
                                {
                                    albums = (count == 0 ? left : right);
                                    <div id="content-@(count == 0 ? "left" : "right")">
                                        @foreach (PhotoHistory.Models.AlbumProfileModel album in albums)
                                        {
                                            Html.RenderPartial("_AlbumMiniView", album);
                                        }
                                    </div>
                                }
                            }
                        }    
                    }
				</div>
			</div>
        }
