<!DOCTYPE html>
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : EarthlingTwo  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20090918
-->
<html lang="en">
<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>PastExplorer - explore the past</title>
    <link href="@(Url.Content( "~/Content/css/bootstrap.css" ))" rel="stylesheet" type="text/css">
    <link href="@(Url.Content( "~/Content/css/bootstrap-responsive.css" ))" rel="stylesheet">
    <link href="@(Url.Content( "~/Content/css/style.css" ))" rel="stylesheet" type="text/css" media="screen">
    <link href="@(Url.Content( "~/Content/css/flick/jquery-ui-1.8.18.custom.css" ))" rel="stylesheet" type="text/css" media="screen">
    <script src="@(Url.Content( "~/Scripts/jquery.js" ))"></script>

    <script src="@(Url.Content( "~/Scripts/bootstrap-transition.js" ))"></script>
    <script src="@(Url.Content( "~/Scripts/bootstrap-alert.js" ))"></script>
    <script src="@(Url.Content( "~/Scripts/bootstrap-modal.js" ))"></script>
    <script src="@(Url.Content( "~/Scripts/bootstrap-dropdown.js" ))"></script>
    <script src="@(Url.Content( "~/Scripts/bootstrap-scrollspy.js" ))"></script>
    <script src="@(Url.Content( "~/Scripts/bootstrap-tab.js" ))"></script>
    <script src="@(Url.Content( "~/Scripts/bootstrap-tooltip.js" ))"></script>
    <script src="@(Url.Content( "~/Scripts/bootstrap-popover.js" ))"></script>
    <script src="@(Url.Content( "~/Scripts/bootstrap-button.js" ))"></script>
    <script src="@(Url.Content( "~/Scripts/bootstrap-collapse.js" ))"></script>
    <script src="@(Url.Content( "~/Scripts/bootstrap-carousel.js" ))"></script>
    <script src="@(Url.Content( "~/Scripts/bootstrap-typeahead.js" ))"></script>

    <script src="@(Url.Content( "~/Scripts/jquery-ui-1.8.18.custom.min.js" ))"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo">
                <h1>
                    <a href="#">PastExplorer</a></h1>
                <!-- <p>explore the past</p> -->
            </div>
            <div id="corner">
                <div id="search-form">
                    <form class="well form-search">
                    <input type="text" class="input-long search-query">
                    <button type="submit" class="btn">
                        <i class="icon-search"></i>Search</button>
                    </form>
                </div>
                <div id="user-bar">
                    @if ( HttpContext.Current.User.Identity.IsAuthenticated )
                    {
                        <div class="btn-group">
                            <a href="/User/ViewProfile?userName=@HttpContext.Current.User.Identity.Name")>
                                <button class="btn">
                                   <i class="icon-user"></i> @HttpContext.Current.User.Identity.Name
                                </button>
                            </a>
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="/Album/Manage">Manage albums</a></li>
                                <li><a href="/Album/AddPhoto">Upload photo</a></li>
                                <li><a href="/User/Edit">Edit profile</a></li>
                                <li class="divider"></li>
                                <li><a href="/User/SignOut">Sign-out</a></li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <p>
                            <a href="@(Url.Action( "Create", "User" ))" class="account">Create account</a> | 
                            <a href="@(Url.Action( "SignIn", "User" ))" class="account">Sign in</a>
                        </p>
                    }
                </div>
            </div>
        </div>
        <!-- end #header -->
        <div id="menu">
            <ul>

                <li class="@(ViewBag.Category == MainCategory.Home ? "current_page_item":"" )">
                    <a href="@(Url.Action( "Index", "Home" ))"><i class="icon-home"></i> Home</a>
                </li>
                <li class="@(ViewBag.Category == MainCategory.Browse ? "current_page_item":"") ">
                    <a href="@(Url.Action( "Browse", "Album" ))"><i class="icon-folder-open icon-white"></i> Browse</a>
                </li>
                <li class="@(ViewBag.Category == MainCategory.Charts ? "current_page_item":"") ">
                    <a href="@(Url.Action( "Charts", "Album" ))"><i class="icon-star icon-white"></i> Charts</a>
                </li>
            </ul>
        </div>
        <!-- end #menu -->
        <div id="page">
            <div id="content">
                @RenderBody()
                <div style="clear: both;">&nbsp;</div>
            </div>
            <div style="clear: both;">&nbsp;</div>
        </div>
        <!-- end #page -->
    </div>
    <div id="footer">
        <p>
            (c) 2012 PastExplorer.com. Design by <a href="http://www.nodethirtythree.com">nodethirtythree</a>,
            <a href="http://www.freecsstemplates.org">Free CSS Templates</a> and PastExplorer.com.</p>
    </div>
    <!-- end #footer -->

    @RenderSection( "JS", false )

</body>
</html>
