@model PhotoHistory.Models.NewPhotoModel

	<div class="control-group @Html.MyValidationMark("AlbumId")">
	    <label class="control-label" for="name">Album</label>
	    <div class="controls">
		    <select class="input-normal" id="AlbumId" name="AlbumId">
                @foreach (PhotoHistory.Models.AlbumModel album in ViewBag.Albums)
                { 
                    <option value="@album.Id" @(Model!=null&&Model.AlbumId==album.Id? "selected":"") > @album.Name</option>             
                }
		    </select>
            @Html.MyValidationMessage("AlbumId")
	    </div>
	</div>

	<div class="control-group @Html.MyValidationMark( "FileInput" )">
	    <label class="control-label" for="description">Photo</label>
	    <div class="controls">
		    <label class="radio">
		    <input name="Source"  value="local" checked="checked" type="radio" onclick="hide()"  @(Model!=null&&Model.Source=="local"?"checked":"")/>
		    Upload file from my computer
		    </label>
            <label class="radio">
		    <input name="Source"  value="remote" type="radio" onclick="hide()" @(Model!=null&&Model.Source.Equals("remote")?"checked":"")/>
		        Upload file from the web (URL)
		    </label>
		    <div id="fileDiv"><input class="input-file input-xlarge" id="fileInput" type="file" name="FileInput"/></div>
		    <div id="remoteDiv"><input type="text" value="@(Model!=null? Model.PhotoURL:"")" class="input-xlarge inline" id="photoURL" name="PhotoURL"/></div>
        @Html.MyValidationMessage("FileInput")  
        </div>
          
	</div>

	<div class="control-group @Html.MyValidationMark( "Description" )">
	    <label class="control-label" for="about">Description</label>
	    <div class="controls">
		    <textarea class="input-xlarge" id="description" name="Description"  rows="3" placeholder="Enter additional description of the photo... (optional)">@(Model!=null? Model.Description:"")</textarea>
		    @Html.MyValidationMessage("Description")         
        </div>
	</div>

	<div class="control-group @Html.MyValidationMark( "Date" )" >
	    <label class="control-label" for="name">Date</label>
	    <div class="controls">
		    <input id="datepicker" name="Date" value="@(Model!=null? Model.Date:"") "/>
                @Html.MyValidationMessage("Date")
		    <p class="help-block">When was this photo taken?</p>
	    </div>            
	</div>

