<h1 class="page-title">Browse</h1>
<div id="browse-menu">
	<ul class="nav nav-pills nav-stacked">
		<li class="active"><a href="#">People</a></li>
		<li><a href="#">Building</a></li>
		<li><a href="#">Landscape</a></li>
		<li><a href="#">City</a></li>
		<li><a href="#">Other</a></li>
	</ul>
</div>
<div id="content-left-small">
	<div class="album-thumb">
		<a href="#">
			<img src="@(Url.Content( "~/Content/tmp/photo1.jpg" ))" class="photo" />
			<img src="@(Url.Content( "~/Content/tmp/photo2.jpg" ))" class="photo" />
			<img src="@(Url.Content( "~/Content/tmp/photo3.jpg" ))" class="photo" />
		<h3 class="album-title">Noah K. everyday</h3>
		</a>
		<span class="album-label">Timespan: </span><span class="album-value">03/01/2003 - 12/04/2012</span><br/>
		<span class="album-label">Views: </span><span class="album-value">117 684</span>
	</div>
	<div class="album-thumb">
		<a href="#">
			<img src="@(Url.Content( "~/Content/tmp/photo1.jpg" ))" class="photo" />
			<img src="@(Url.Content( "~/Content/tmp/photo2.jpg" ))" class="photo" />
			<img src="@(Url.Content( "~/Content/tmp/photo3.jpg" ))" class="photo" />
		<h3 class="album-title">Noah K. everyday</h3>
		</a>
		<span class="album-label">Timespan: </span><span class="album-value">03/01/2003 - 12/04/2012</span><br/>
		<span class="album-label">Views: </span><span class="album-value">117 684</span>
	</div>
	<div class="album-thumb">
		<a href="#">
			<img src="@(Url.Content( "~/Content/tmp/photo1.jpg" ))" class="photo" />
			<img src="@(Url.Content( "~/Content/tmp/photo2.jpg" ))" class="photo" />
			<img src="@(Url.Content( "~/Content/tmp/photo3.jpg" ))" class="photo" />
		<h3 class="album-title">Noah K. everyday</h3>
		</a>
		<span class="album-label">Timespan: </span><span class="album-value">03/01/2003 - 12/04/2012</span><br/>
		<span class="album-label">Views: </span><span class="album-value">117 684</span>
	</div>
	<div class="album-thumb">
		<a href="#">
			<img src="@(Url.Content( "~/Content/tmp/photo1.jpg" ))" class="photo" />
			<img src="@(Url.Content( "~/Content/tmp/photo2.jpg" ))" class="photo" />
			<img src="@(Url.Content( "~/Content/tmp/photo3.jpg" ))" class="photo" />
		<h3 class="album-title">Noah K. everyday</h3>
		</a>
		<span class="album-label">Timespan: </span><span class="album-value">03/01/2003 - 12/04/2012</span><br/>
		<span class="album-label">Views: </span><span class="album-value">117 684</span>
	</div>
	<div id="browse-page">
		<a href="#"><strong>1</strong></a>
		<a href="#">2</a>
		<a href="#">3</a>
		<a href="#">4</a>
		<a href="#">5</a>
		<a href="#">6</a>
		<a href="#">></a>
		<a href="#">>></a>
	</div>
</div>	
<div id="content-right-small">
	<div class="album-thumb">
		<a href="#">
			<img src="@(Url.Content( "~/Content/tmp/photo1.jpg" ))" class="photo" />
			<img src="@(Url.Content( "~/Content/tmp/photo2.jpg" ))" class="photo" />
			<img src="@(Url.Content( "~/Content/tmp/photo3.jpg" ))" class="photo" />
		<h3 class="album-title">Noah K. everyday</h3>
		</a>
		<span class="album-label">Timespan: </span><span class="album-value">03/01/2003 - 12/04/2012</span><br/>
		<span class="album-label">Views: </span><span class="album-value">117 684</span>
	</div>
	<div class="album-thumb">
		<a href="#">
			<img src="@(Url.Content( "~/Content/tmp/photo1.jpg" ))" class="photo" />
			<img src="@(Url.Content( "~/Content/tmp/photo2.jpg" ))" class="photo" />
			<img src="@(Url.Content( "~/Content/tmp/photo3.jpg" ))" class="photo" />
		<h3 class="album-title">Noah K. everyday</h3>
		</a>
		<span class="album-label">Timespan: </span><span class="album-value">03/01/2003 - 12/04/2012</span><br/>
		<span class="album-label">Views: </span><span class="album-value">117 684</span>
	</div>	
	<div class="album-thumb">
		<a href="#">
			<img src="@(Url.Content( "~/Content/tmp/photo1.jpg" ))" class="photo" />
			<img src="@(Url.Content( "~/Content/tmp/photo2.jpg" ))" class="photo" />
			<img src="@(Url.Content( "~/Content/tmp/photo3.jpg" ))" class="photo" />
		<h3 class="album-title">Noah K. everyday</h3>
		</a>
		<span class="album-label">Timespan: </span><span class="album-value">03/01/2003 - 12/04/2012</span><br/>
		<span class="album-label">Views: </span><span class="album-value">117 684</span>
	</div>
	<div class="album-thumb">
		<a href="#">
			<img src="@(Url.Content( "~/Content/tmp/photo1.jpg" ))" class="photo" />
			<img src="@(Url.Content( "~/Content/tmp/photo2.jpg" ))" class="photo" />
			<img src="@(Url.Content( "~/Content/tmp/photo3.jpg" ))" class="photo" />
		<h3 class="album-title">Noah K. everyday</h3>
		</a>
		<span class="album-label">Timespan: </span><span class="album-value">03/01/2003 - 12/04/2012</span><br/>
		<span class="album-label">Views: </span><span class="album-value">117 684</span>
	</div>	
</div>			