@model PhotoHistory.Models.HomepageAlbumModel

<div class="left"><h1 class="page-title">Charts</h1></div>

<div class="right">
	<ul class="nav nav-pills">
		<li class="@(ViewBag.Chart == ChartCategory.Popular? "active":"")"><a href="@Url.Action("Charts",new {category = ChartCategory.Popular})">Most popular</a></li>
		<li class="@(ViewBag.Chart == ChartCategory.TopRated ? "active" : "")"><a href="@Url.Action("Charts",new {category = ChartCategory.TopRated})">Highest rated</a></li>
		<li class="@(ViewBag.Chart == ChartCategory.MostComments ? "active" : "")"><a href="@Url.Action("Charts",new {category = ChartCategory.MostComments})">Most commented</a></li>
		<li class="@(ViewBag.Chart == ChartCategory.Biggest ? "active" : "")"><a href="@Url.Action("Charts",new {category = ChartCategory.Biggest})">Biggest</a></li>
	</ul>
</div>

<div style="clear: both;">&nbsp;</div>	

<div class="post">
	<h2 class="title">@Model.Name</h2>
    @{
        int counter = 0;
        List<PhotoHistory.Models.AlbumProfileModel> left = new List<PhotoHistory.Models.AlbumProfileModel>();
        List<PhotoHistory.Models.AlbumProfileModel> right = new List<PhotoHistory.Models.AlbumProfileModel>();
        foreach (PhotoHistory.Models.AlbumProfileModel album in Model.Albums)
        {
            if(counter++ % 2 ==0){left.Add(album);}
            else{right.Add(album);}
        }
        counter = -1;
    }

    
	<div id="content-left">
        @foreach (PhotoHistory.Models.AlbumProfileModel album in left)
        {
            <div class="entry">
			        <div class="rank">@(counter += 2).</div>
                     @{Html.RenderPartial("_AlbumMiniView", album);}   
		    </div>
        }
    </div>
		
    @{counter = 0;}
	<div id="content-right">		
        @foreach (PhotoHistory.Models.AlbumProfileModel album in right)
        {
            <div class="entry">
			        <div class="rank">@(counter += 2).</div>
                     @{Html.RenderPartial("_AlbumMiniView", album);}   
		    </div>
        }
    </div>
	
    
</div>	
	<div style="clear: both;">&nbsp;</div>				
