@model IEnumerable<PhotoHistory.Models.AlbumModel>
<style>
    .post .entry
    {
        background: none;
    }
</style>
<div id="content">
    <div class="actions right">
        <a href="@Url.Action("Create","Album")">
            <button class="btn btn-success">
                Create a new album</button>
        </a>
    </div>
    <h3>
        My albums</h3>
    <div id="content-left" style="width: 900px; margin-right: 0;">
        @foreach (var item in Model)
        {
            <div class="post" style="width: 450px; float: left;">
                <div class="entry">
                    <div class="album-thumb">
                        <a href="@(Url.Action("Show", new { id = item.Id }))">
                            <img src="@(Url.Content("~/Content/tmp/photo1.jpg"))" class="photo" />
                            <img src="@(Url.Content("~/Content/tmp/photo2.jpg"))" class="photo" />
                            <img src="@(Url.Content("~/Content/tmp/photo3.jpg"))" class="photo" />
                            <h3 class="album-title">
                                @item.Name</h3>
                        </a><span class="album-label">Timespan: </span><span class="album-value">TODO </span>
                        <br />
                        <span class="album-label">Views: </span><span class="album-value">@item.Views</span>
                    </div>
                </div>
            </div> 
        }
    </div>
    <div id="content-right">
    </div>
    <div style="clear: both;">
        &nbsp;</div>
</div>
