@model PhotoHistory.Models.AlbumModel
<div id="content">
    <h1 class="page-title">
        Manage album</h1>
    <div id="manage-settings">
        <div class="left">
            <h2 class="page-section">
                Settings</h2>
        </div>
        <div class="actions right">
            <a href="@Url.Action("Edit", new { id = Model.Id })">
                <button class="btn btn-warning">
                    <i class="icon-edit icon-white"></i>Change settings</button>
            </a>
            <button class="btn btn-danger">
                <i class="icon-remove icon-white"></i>Delete album</button>
        </div>
        <div style="clear: both;">
            &nbsp;</div>
        <fieldset class="form-horizontal">
            <div class="control-group">
                <label class="control-label">
                    Name</label>
                <div class="controls">
                    <div class="well well-small">
                        @Model.Name</div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Description</label>
                <div class="controls">
                    <div class="well well-small">
                        @Model.Description</div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Category</label>
                <div class="controls">
                    <div class="well well-small">
                        @Model.Category.Name</div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Photo reminder</label>
                <div class="controls">
                    <div class="well well-small">
                        @if (Model.NotificationPeriod != null)
                        {                    
                            <text> Enabled - remind every @Model.NotificationPeriod days </text>
                        }
                        else
                        {
                            <text> Disabled </text>
                        }
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Access rights</label>
                <div class="controls">
                    <div class="well well-small">
                        @if (Model.Public)
                        {
                            <text> Public - everyone can view this album </text>
                        }
                        else if (Model.Password != null)
                        {
                            <text> Private - accessible by password</text>
                        }
                        else if (Model.TrustedUsers.Count != 0)
                        {
                            <text> Private - accessible by @string.Join(", ",Model.TrustedUsers.Select(u => u.Login)) </text>
                        }
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Comment rights</label>
                <div class="controls">
                    <div class="well well-small">
                        Enabled</div>
                </div>
            </div>
        </fieldset>
    </div>
    <div id="manage-photos">
        <div class="left">
            <h2 class="page-section">
                Photos</h2>
        </div>
        <form action="#" method="post">
        <div class="actions right">
            <button class="btn btn-success">
                <i class="icon-camera icon-white"></i>Add photo</button>
            <button class="btn btn-danger">
                <i class="icon-remove icon-white"></i>Delete selected photos</button>
        </div>
        <div style="clear: both;">
            &nbsp;</div>
        <div id="photos-list">

            @foreach (var photo in Model.Photos)
            {
            <div class="photo-entry">
                <div class="photo-handle">
                    <input type="checkbox" id="1"></div>
                <div class="photo-thumb">
                    <img src="@photo.Path" class="photo" /></div>
                <div class="photo-date">
                    @photo.Date</div>
                <div class="photo-desc">
                    @photo.Description</div>
            </div>
            }


        </div>
        </form>
    </div>
</div>
