@model PhotoHistory.Models.AlbumModel

<div id="content">
    <div id="album-header">
        <h1 class="page-title">
            <a href="#">@Model.Name</a>
            <!-- jesli nie jest wlascicielem: follow/unfollow -->
            <button class="btn btn-info">
                <i class="icon-ok icon-white"></i>Follow</button>
            <!-- jesli jest wlascicielem: manage this album -->
            <a href="@Url.Action("ManageAlbum", new { id = Model.Id })">
            <button class="btn btn-primary">
                <i class="icon-edit icon-white"></i>Manage this album</button>
                </a>
        </h1>
        <h2 class="album-author">
            by <a href="#">@Model.User.Login</a></h2>
    </div>
    <div id="album-viewer">
        <img src="@(Url.Content("~/Content/tmp/image-browser.png"))" />
    </div>
    <div id="album-footer">
        <div id="album-desc">
            @Model.Description
        </div>
        <div id="album-rate">
            Rating: <span class="album-rating">17</span> <span class="label label-success"><a
                href="#">+1</a></span> <span class="label label-important"><a href="#">-1</a></span>
        </div>
    </div>
    <div id="album-comments">
        <form class="form-horizontal" action="#" method="post">
        <fieldset>
            <div class="control-group">
                <textarea class="input-xxlarge" id="comment-body" rows="3" placeholder="Enter your comment here..."></textarea>
            </div>
            <div class="control-group">
                <button type="submit" class="btn btn-primary">
                    Add comment</button>
            </div>
        </fieldset>
        </form>
        <div class="album-comment">
            Comment 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae
            odio non diam posuere fermentum. Sed fringilla varius sapien quis vehicula. eqw
            eqw
        </div>
        <div class="album-comment">
            Comment 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae
            odio non diam posuere fermentum. Sed fringilla varius sapien quis vehicula. eqw
            eqwe qw eqw eqw eqw
        </div>
        <div class="album-comment">
            Comment 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae
            odio non diam posuere fermentum. Sed fringilla varius sapien quis vehicula. Dqwdkq
            podkqwp odkqwp ofkepofk wepofkwe pofewkpo :)
        </div>
    </div>
</div>

